body {
  background-color: #f1f1f1; /*цвет фона*/
  color: #0f141e; /*цвет шрифта*/
  font-size: 16px; /*размер шрифта в пикселях*/
  font-weight: normal; /*жирность шрифта*/
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; /*применяемые шрифты*/
}

a {
  color: blue; /*цвет ссылки*/
  text-decoration: none;
}
a:hover {
  /*действие при наведении мыши подчеркивание*/
  text-decoration: underline;
}
a:active {
  /*изменение цвета при нажатии на ссылку*/
  color: red;
}
a:visited {
  /*окрашивает ссылку в серый после посещения*/
  color: gray;
}
.fil {
  width: 300px; /*размер фото*/
  border-radius: 29px; /*радиус фото*/
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25); /*направление и прозрачность тени*/
}
.info {
  display: flex;
  margin-bottom: 40px;
}
@media (max-width: 700px) {
  .info {
    text-align: center;
    display: block;
  }
}

.info-text {
  margin-left: 40px;
}
.info {
  color: #86898f; /*цвет текста в заголовке к фото*/
  /*margin: 0; нулевой отступ*/
  font-style: italic; /*стиль шрифта текста к фото*/
  font-weight: bold; /*жирность текста*/
  text-decoration: none; /*обычный текст без декораций*/
}
/*text-decoration: underline; подчеркивающая линия весь текст*/
/*text-decoration: line-through; линия зачеркивающая весь текст*/
/*text-transform: capitalize;*/
/*text-transform: lowercase; весь текст с маленькой буквы*/
/*text-transform: uppercase; весь текст заглавными*/
/*text-transform: capitalize;каждое слово с заглавной буквы*/
/*letter-spacing: 20px;количество пикселей между каждым символом*/
/*word-spacing: 42px; количество пространства между словами*/

/*централизация всей страницы, помещение в контейнер*/
.container {
  max-width: 750px; /*максимальная величина в пиксилях что будет занимать содержимое,нужно меньше, будет адаптироваться*/
  margin: auto; /*размещение посередине*/
  padding-top: 30px;
}
/*Box Model коробка (соцсети)*/
/*.social {*/
/*background: rgb(211, 91, 91); /*цвет фона соцсетей*/
/*padding: 15px; отступы от края блока до контента, первый слой*/
/* padding: 15px 40px; первое значение верхний отступ второе отступы по бокам*/
/*padding-left: 30px;
padding-top: 15px;
padding-bottom: 25px;
padding-right: 20px; /*четыре значения точечного описания отступов лево верх низ право*/
/*margin: 5px; /*размер внешнего отступа от контента*/
/*border: 5px solid blue; /*ширина стиль и цвет границы*/
/*border-bottom-style: dotted; /*нижняя граница пунктиром*/
/*border-top-width: 15px; /*жирность верхней границы*/
/*border-right-color: red; /*цвет правой границы*/

/*}*/

/*.box-model > div*/ /* .box-model>div означает что только к дивам в этом диве применяются свойства*/
 {
  /*float: left; /*направление*/
  /*background: #0f141e; /*цвет блоков*/
  /*height: 200px; /* размер блоков*/
  /*border: 4px solid red; /*границы каждого дива*/
  /*width: 25%; /*размер блоков*/
  /*box-sizing: border-box; /*выравнивание боксов по одной линии*/
}
.bg-ellow {
  background: #fff9dc; /*применения цвета к колонке*/
}
.bg-green {
  background: #e5ffe7;
}
.bg-red {
  background: #ffe5e5;
}
.card {
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}
.card h2 {
  margin-bottom: 10px;
}
.list {
  padding: 0px 20px;
}
.list li {
  color: #86898f;
  margin-bottom: 10px;
}

.table {
  width: 100%; /*растягивание таблицы на полный размер блока*/
}

.table td {
  padding-bottom: 10px; /*отступы в отдельном блоке*/
}

.table td:nth-child(2),/*меняет цвет отдельных колонок*/
.table td:nth-child(3) {
  color: #86898f;
}

/*.table tr:nth-child(even) {
  подсвечивает четные строчки, если задать значение odd то подсвечиваються нечетные
  background: red;
} */

.link-list {
  list-style: inside;
  padding: 00;
}

.link-list li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.contact h2 {
  text-align: center;
}

.form-group label {
  display: block; /*все должно идти блоками а не строчками*/
  font-size: 14px;
  color: #86898f;
}

.form-group input,
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid #ccc;
  color: #000;
  padding: 15px 0 10px;
  outline: none;
  font-family: inherit;
}

.row {
  display: flex;
  margin-bottom: 20px;
}

.row > .form-group {
  width: 50%;
  margin-right: 20px;
}

.row > .form-group:last-child {
  margin-right: 0;
}
.btn {
  background: rgb(0, 0, 0);
  padding: 15px 20px;
  color: rgb(235, 225, 225);
  border: none;
  font-family: inherit;
  cursor: pointer;
  border-radius: 23px;
}

.btn:hover {
  opacity: 0.9;
}

/*Position*/

/*.position {
  position: relative;
  border: 4px solid black;
  margin-top: 40px;
  padding: 20px;
  height: 300px;
}

.box {
  position: fixed;
  bottom: 50px;
  right: 50px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: lightcoral;
}*/
